@page "/"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Главная страница</PageTitle>

<section class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-3 text-primary fw-bold">Агентство недвижимости - WSEA</h2>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <img src="https://venco.com.tr/wp-content/uploads/2021/04/venco-ventilation-the-quad-towers.jpg" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title"><a class="text-secondary">Что такое WSEA?</a></h3>
                        <p class="card-text">WSEA — это агентство недвижимости, которое оказывает весь спектр риелторских услуг во Владимире и области, поможет Вам с продажей, покупкой и арендой квартир, домов и всего спектра коммерческой недвижимости!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <img src="images\home2.jpg" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title"><a class="text-secondary">Агентство недвижимости №1</a></h3>
                        <p class="card-text">На сегодняшний день, WSEA является одним из признанных лидеров рынка недвижимости во Владимире. Столь высокую оценку своей деятельности мы заслужили благодаря усердному труду своих сотрудников и вниманию к своим Клиентам</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <img src="images\home3.jpg" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title"><a class="text-secondary">Все лучшее — Нашим Клиентам!</a></h3>
                        <p class="card-text">Агентство недвижимости WSEA взяло за правило отличаться высоким качеством своих услуг, всегда отстаивать и защищать интересы своих Клиентов, потому что Клиенты — наш самый ценный актив</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code{
    private void RedirectToFeedback(){
        NavigationManager.NavigateTo("/feedback", forceLoad: true);
    }
}
