<section class="">
    <!-- Footer -->
    <footer class="footer fixed-bottom">
        <div class="text-center p-3" style="background-color:rgba(210, 210, 210);">
            &copy; 2024 - WSEA - Все права защищены
        </div>
    </footer>
    <!-- Footer -->
</section>
